<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flights</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<!--/*/ <th:block th:include="fragments/topnav :: navbar"></th:block> /*/-->

</div>
	<div id="content">
	

		<table id="flights-table">
			<tr>
				<th>Airline</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Departure Date</th>
				<th>Departure Time</th>
				<th>Like this flight?</th>
			</tr>
			<tr class="flight-row" th:each="flight : ${flights}" th:id="${flight.flightId}">
				<td th:text="${flight.airlineName}"></td>
				<td th:text="${flight.originCity}"></td>
				<td th:text="${flight.destinationCity}"></td>
				<td th:text="${#dates.format(flight.departureDate, 'E, MM-dd-yy')}"></td>
				<td th:text="${#dates.format(flight.departureTime, 'h:mm aa z')}"></td>
				<td>
					<form th:attr="data-flight-id=${flight.flightId}">
						<label for="firstClass">First Class</label>
						<input class="checkbox" id="firstClass" type="checkbox" value="0" />
						<input type="button" value="Book" onclick="book()" />
					</form>
				</td>
			</tr>
		</table>

	</div>
	<!-- Scripts -->	
	<!--/*/ <th:block th:include="fragments/fragments :: scripts"></th:block> /*/-->
	<script>
		/**
		* Updates the value of the clicked checkbox 
		* 1 means first class 0 means coach.
		*/
		$(document).ready(function () {
			$(".checkbox").on("change", function() {
				const value = this.checked ? "1" : "0";
				$(this).val(value);
			});
		});
		
		/**
		* Calls the rest API to get the available seats for a specific flight
		*/
	    function book() {
	        const flight_id = event.target.parentNode.getAttribute("data-flight-id");
	        const isFirstClass = $("#firstClass").val()
	        alert("Flight ID: " + flight_id + "\n" + "isFirstClass: " + isFirstClass);
	        
	        $.ajax({
	        	method: "GET",
	        	url: "/api/getSeats",
	        	data: {
	        		"flightId": flight_id,
	        		"isFirstClass": isFirstClass
	        	},
	        	success: function(response) {
	        		console.log(response);
	        	}
	        });

     
		  }
		/**
		* This function will open the modal, which will contain a form
		* that will send data to the server.
		*/
		function launchModal(){}


	</script>
</body>
</html>