<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FlightsRUs</title>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
	<nav>
		<ul class="nav-ul">
			<li class="nav-li"><a href="/">Home</a></li>
			<li class="nav-li"><a href="/searchFlights">Search Flights</a></li>
			<li class="nav-li"><a href="/reservations">See Reservations</a></li>
			<li class="nav-li"><a href="/login">Login</a></li>
		</ul>
	</nav>
	<div class="hero-img">
		<div class="hero-text">
    	<h1 style="font-size:50px">Flights R US</h1>
    	<p>Where would you like to fly to?</p>
    	<form action="#" th:action=@{/searchFlights} method="post">
    		<!-- Origin City -->
    		<select id="origin-city" th:field="*{originCities}">
    			<option value="" selected>Departing From</option>
    			<option class="option" th:each="city: ${originCities}" th:value="${city}" th:text="${city}"></option>
    		</select>
    		<!-- Destination City -->
    		<select id="destination-city" th:field="*{destinationCities}" disabled>
    			<option value="" selected>Destination</option>
    			<option class="option" th:each="city: ${destinationCities}" th:value="${city}" th:text="${city}"></option>	
    		</select>
    		<!-- Departure Date -->
    		<select id="departure-date" name="departureDate" disabled>
    			<option value="" disabled selected>Flight Dates</option>
    		</select>
    		<!-- Departure Time -->
    		<select id="departure-time" name="departureTime" disabled>
	    		<option value="" disabled selected>Flight Times</option>
    		</select>
    		<!--<select id="departure-date" th:field="{departureDate}"></select>
    		<select id="departure-time" th:field="{departureTime}"></select> -->
    		<input type="Submit">
    	</form>
  </div>
	</div>

<!-- Scripts -->	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

	$(document).ready(function () {
		
		
		let originCityChanged = false; // additional checker
	
		$("#origin-city").change(function() {
			event.preventDefault();
			$("#destination-city").removeAttr("disabled");
		    originCityChanged = true;
		});
		
		// Will load avalable flight dates for a city combo
		$("#destination-city").change(function(){
			if(originCityChanged){
				$.ajax({
					method: "GET",
					url: "/getFlightDate", 
					data: {
							"orginCity": $("#origin-city").val(),
							"destinationCity":$("#destination-city").val()		
					},
					success: function(data) {
						// add all the option tags for departure date.
						for (const date in data) {
							$("#departure-date").append($("<option>").val(date).text(date));
						}
						$("#departure-date").removeAttr("disabled");
					}
				}); // ajax
			}
		}); // destination-city change
		
		// Will load available flight times for a city combo 
		$("#departure-date").change(function(){
			$.ajax({
				method: "GET",
				url: "/getFlightTime", 
				data: {
						"departureDate": this.value	
				},
				success: function(data) {
						// add all the option tags for departure time.
						for (const time in data) {
							$("#departure-time").append($("<option>").val(time).text(time));
						}
						$("#departure-time").removeAttr("disabled");
				}
				}); // ajax
		});	// departure-date change
	});// ready
</script>	

</body>
</html>