<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Book Flight</title>
	<!--/*/ <th:block th:include="fragments/fragments :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/topnav :: navbar"></th:block> /*/-->
	
	
	<div id="content">
	<!-- 	<form action="/bookFlight" th:object=${reservation} method="POST">
			<div th:id="'passenger-'+${iStat.count}" class="card" th:each="seat, iStat : ${seats}">
					<span th:text="'Passenger ' + ${iStat.count}"></span>
					<input type="hidden" name="flightId" th:value="${flightId}">
					<input type="hidden" name="seatId[]" th:value=${seat}>
					<label>First Name</label>
					<input class="input-group-text" type="text" name="firstName[]" required>
					<label>Last Name</label>
					<input class="input-group-text" type="text" name="lastName[]" required>
			</div>
			<input class="btn btn-primary" type="submit" value="Finish Booking">
		</form> -->
		<div th:id="'passenger-'+${iStat.count}" class="card" th:each="seat, iStat : ${seats}">
			<span th:text="'Passenger ' + ${iStat.count}"></span>
			<input class="user-id-input" type="hidden" name="userId" value="1"> 
			<input class="flight-id-input" type="hidden" name="flightId" th:value="${flightId}">
			<input class="seat-id-input" type="hidden" name="seatId" th:value=${seat}>
			<input class="price-input" type="hidden" name="price" value="500"> <!-- I need to add pricing -->
			<label>First Name</label>
			<input class="first-name-input input-group-text" type="text" name="firstName" value="" required>
			<label>Last Name</label>
			<input class="last-name-input input-group-text" type="text" name="lastName" value="" required>
		</div>
			<button id="book-btn"  class="btn btn-primary">Book Flight</button>
		
	</div>


	<!-- Scripts -->	
	<!--/*/ <th:block th:include="fragments/fragments :: scripts"></th:block> /*/-->
	<script th:inline="javascript">
		
		<!--/* allows me to use controller variables in JS! */-->
		const numberOfPassengers = [[${numberOfPassengers}]];
		let reservations = []

	
		$(document).ready(function() {
			$("#book-btn").on("click", function () {
				reservations = buildReservationObjects();
				console.log(reservations);
				
				$.ajax({
					method: "POST",
					url: "/bookFlight",
					data: {
						"reservations[]": reservations
					},
					success: function (response, status) {
						console.log(status);
					}
				}); //ajax
			}); // book
		}); // ready
		
		function buildReservationObjects(){
			let temp = [];
			let reservation = {};
			for(let x = 1; x < numberOfPassengers+1; x++){
				let userId = $(`#passenger-${x}`).find('.user-id-input').val()
				let flightId = $(`#passenger-${x}`).find('.flight-id-input').val()
				let seatId = $(`#passenger-${x}`).find('.seat-id-input').val()
				let firstName = $(`#passenger-${x}`).find('.first-name-input').val()
				let lastName = $(`#passenger-${x}`).find('.last-name-input').val()
				let price = $(`#passenger-${x}`).find('.price-input').val()
				
				reservation["reservationId"] = 1;
				reservation["user"] = userId;
				reservation["flight"] = flightId;
				reservation["seat"] = seatId;
				reservation["firstName"] = firstName;
				reservation["lastName"] = lastName;
				reservation["price"] = price;
				reservation["dateCreated"] = "";
				
				temp.push(reservation);
			}
			return temp;	
		} // build res objs
		
		
	</script>
</body>
</html>