<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Book Flight</title>
	<!--/*/ <th:block th:include="fragments/fragments :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/topnav :: navbar"></th:block> /*/-->
	
	
	<div id="content">

		<div th:id="'passenger-'+${iStat.count}" class="card p-3 m-1" th:each="seat, iStat : ${seats}">
			<span th:text="'Passenger ' + ${iStat.count}"></span>
			<input class="user-id-input" type="hidden" name="userId" value="1"> 
			<input class="flight-id-input" type="hidden" name="flightId" th:value="${flightId}">
			<input class="seat-id-input" type="hidden" name="seatId" th:value=${seat}>
			<input class="price-input" type="hidden" name="price" value="500"> <!-- I need to add pricing -->
			<label>First Name</label>
			<input class="first-name-input input-group-text" type="text" name="firstName" value="" required>
			<label>Last Name</label>
			<input class="last-name-input input-group-text" type="text" name="lastName" value="" required>
		</div>
		<button id="book-btn"  class="btn btn-primary m-2">Book Flight</button>
			
		<div id="modal-container"></div>
		
	</div>


	<!-- Scripts -->	
	<!--/*/ <th:block th:include="fragments/fragments :: scripts"></th:block> /*/-->
	<script th:inline="javascript">
		
		<!--/* allows me to use controller variables in JS! */-->
		const numberOfPassengers = [[${numberOfPassengers}]];
		const userId = [[${userId}]]; 
		const flightId = [[${flightId}]];
	
		$(document).ready(function() {
			$("#book-btn").on("click", function () {
				
				seats = [];
				firstNames = [];
				lastNames = [];
				
				// exits event if issue with arrays
				if(!buildReservationArrays()) {
					return; 
				}
				
				// tracers
				console.log("userId " + userId);
				console.log("flightId " + flightId);
				console.log("Seats: " + seats);
				console.log("firstNames: " + firstNames);
				console.log("lastNames: " + lastNames);
				
				$.ajax({
					type: "POST",
					url: "/bookFlight",
					data: {
						"user": userId,
						"flightId": flightId,
						"seats[]": seats,
						"firstNames[]": firstNames,
						"lastNames[]": lastNames,
					},
					success: function (response, status) {
						console.log("Status " + status);
						$("#modal-container").html(response);
						$("#confirmation-modal").modal("show");
						
					}, //success
					error: function(xhr, status, error){
				         const errorMessage = xhr.status + ': ' + xhr.statusText
				         alert('Error - ' + errorMessage);
				     } // error
				}); //ajax
			}); // book
		}); // ready
		
		  // Modal hidden event fired
		  $("#modal-container").on("hidden.bs.modal", "#confirmation-modal", function () {
			  $(location).attr("href", "/reservations"); 
		  });
		
		/**
		* Builds the arrays needed to make a reservation.
		*/
		function buildReservationArrays(){
			let temp = [];
			
			for(let x = 1; x < numberOfPassengers+1; x++) {
				
				const seatId = $(`#passenger-${x}`).find('.seat-id-input').val()
				const firstName = $(`#passenger-${x}`).find('.first-name-input').val()
				const lastName = $(`#passenger-${x}`).find('.last-name-input').val()
				
				// validates names
				if (firstName == "" || lastName == "") {
					alert(`Missing name for Passenger ${x}`);
					return false;
				}

				seats.push(seatId);
				firstNames.push(firstName);
				lastNames.push(lastName);
			}
			
			return true;
			//return temp;	
		} // build res objs
		
	</script>
</body>
</html>